p{
    font-style: italic;
    font-size: 18px;
    font-family: cursive;
    font-weight: 100;
    line-height: 25px;
    color: beige;
    background-color: rgb(79, 146, 99);
    border: black solid 5px;
    border-radius: 8px;
    width: 350px;
    height: 850px;
    padding: 50px;
}
#Section1{

}
#Section1{

}
#Section1{

}

